
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

$box-shadow: 5px 5px 8px 0px rgba(191, 183, 183, 0.75);
// -webkit-box-shadow: 5px 5px 8px 0px rgba(191, 183, 183, 0.75);
// -moz-box-shadow: 5px 5px 8px 0px rgba(191, 183, 183, 0.75);