//https: //coolors.co/011627-fdfffc-13534c-e71d36-ff9f1c
$color-red:rgb(255, 126, 103);
$color-blue: rgb(7, 104, 159);


$bg-gray:  #F0F2F5;

//LOGIN
$bg-login: #9CE8E0;
$bg-login: #FFEED6;
$color-login: #13534C;
$btn-login: #E71D36;

//NAVBAR
// $bg-btn: rgb(7,104,159);
$bg-btn: rgb(255, 126, 103);
$color-link-hover: rgb(7, 104, 159);
$bg-drop-up: #F0F2F5;

//FOOTER
$bg-footer: #FFD599;


//HOME
$bg-box: rgb(255, 126, 103);
$btn-text: rgb(7, 104, 159);
$bg: #F0F2F5;


//SINGLE
$btn-edit:rgb(255, 126, 103);
$btn-delete: rgb(7, 104, 159);

//PROFILE
$btn-bg: rgb(255, 126, 103);

//DASHBOARD
//Sidebar
$clr-sidebar: rgb(7, 104, 159);
//Main part
$clr-counter:rgb(255, 126, 103);

//cart-users
$clr-user-bg: rgb(255, 126, 103);
$clr-user: rgb(100, 39, 28);

